.about-content
  padding: 10px 25px
  @media screen and (min-width: 600px) and (max-width: 900px)
    padding: 12px
  & .text
    text-indent: 1.5em
    line-height: 1.2

.contacts-list
  display: flex
  flex-direction: column
  gap: 10px
