p
  text-indent: 1.5em
  text-align: left
  line-height: 1.2

.about-content
  padding: 10px 25px
  @media screen and (min-width: 600px) and (max-width: 900px)
    padding: 12px
  @media screen and (min-width: 430px) and (max-width: 650px)
    padding: 8px
  @media screen and (max-width: 430px)
    padding: 6px
