@mixin photo-adaptive
  width: 100%
  height: calc(85vh - 60px)
  @media screen and (max-width: 830px)
    height: calc(50vh - 60px)
    min-height: 350px
  @media screen and (max-width: 600px)
    height: 80vh
  @media screen and (max-width: 450px)
    height: 65vh
  @media screen and (max-width: 380px)
    height: 50vh
  
@mixin loading-adaptive
  @media screen and (max-width: 1450px)
    min-width: 35vw
  @media screen and (max-width: 1250px)
    min-width: 45vw
  
.main-page
  display: flex
  flex-direction: row
  gap: 30px
  min-height: calc(100vh - 60px)
  padding: 30px
  align-items: flex-start
  justify-content: center
  @media screen and (max-width: 850px)
    gap: 10px
    min-height: calc(100vh - 40px)
    padding: 20px
  @media screen and (max-width: 600px)
    flex-direction: column
    align-items: center

.photo-container
  @include photo-adaptive
  opacity: 1
  transition: opacity 0.8s
  position: relative
  &.loading
    @include loading-adaptive
    @include photo-adaptive
    opacity: 0
    transition: none
    min-width: 30vw
    min-height: 45vh
    @media screen and (max-width: 1450px)
      min-width: 35vw
    @media screen and (max-width: 1250px)
      min-width: 45vw
  .photo
    @include photo-adaptive
    object-fit: cover;
    object-position: center center;
    border-radius: 5px
    object-fit: cover;
    object-position: center center;

.gallery
  display: flex
  flex-direction: column
  gap: 10px
  position: relative
  @media screen and (max-width: 600px)
    gap: 5px
    width: 100%
  & .photo-side
    position: absolute
    top: 0
    right: 0
    width: 50%
    height: 100%
    cursor: pointer
    &:first-child
      left: 0

  & .photo-buttons
    @include loading-adaptive
    min-height: 50px
    min-width: 30vw
    display: flex
    justify-content: center

    & button[class^='btn-']
      width: 100%
      border: none
      padding: 16px 32px
      text-align: center
      font-size: 1.5em
      cursor: pointer
      opacity: 1
      &:active
        box-shadow: 0 2px 15px 2px
        margin: 1px 1px 1px 0
      &:hover
        opacity: 0.5
      &:disabled
        cursor: auto
        opacity: 0.2
      @media screen and (min-width: 430px) and (max-width: 650px)
        padding: 10px 20px
      @media screen and (max-width: 430px)
        padding: 8px 10px
    & button[class*='btn-left']
      border-radius: 5px 0px 0px 5px
    & button[class*='btn-right']
      border-radius: 0px 5px 5px 0px

.content
  display: flex
  flex-direction: column
  gap: 10px
  width: 50vw
  height: 100%
  @media screen and (max-width: 600px)
    width: 100%
    margin-left: 0
  & .tabs
    display: flex
    gap: 10px
    @media screen and (min-width: 430px) and (max-width: 600px)
      font-size: 12px
    @media screen and (max-width: 600px)
      margin-top: 20px
    @media screen and (max-width: 430px)
      font-size: 10px
    & .tab-btn
      width: 100%
      border: none
      padding: 10px 20px
      text-align: center
      cursor: pointer
      box-shadow: black 1px 1px 2px 2px
      border-radius: 5px
      &:active
        box-shadow: 0 0 15px 2px
        margin-left: 1px
      &:hover
        opacity: 0.5
      @media screen and (min-width: 500px) and (max-width: 800px)
        padding: 3px
      @media screen and (max-width: 500px)
        height: 50px
        padding: 2px

.section
  height: calc(80vh - 60px)
  width: 100%
  overflow-y: auto
  border-radius: 5px
  @media screen and (max-width: 830px)
    height: calc(65vh - 60px)
    min-height: 350px
  @media screen and (max-width: 600px)
    height: 100%

::-webkit-scrollbar 
  height: 12px
  width: 12px
  background: #000

::-webkit-scrollbar-thumb 
  background: #ffffff
  -webkit-border-radius: 1ex
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75)


.arrow
  border-width: 0 3px 3px 0;
  border-style: solid;
  display: inline-block;
  padding: 3px;

.right
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

.left
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
