.main-page
  display: flex
  flex-direction: row
  min-height: calc(100vh - 60px)
  padding: 30px
  align-items: flex-start
  justify-content: center

.gallery-photo-container
  max-width: 500px
  opacity: 1
  transition: opacity 0.5s
  position: relative
  &.loading
    opacity: 0
    transition: none

.gallery-photo-side
  position: absolute
  top: 0
  right: 0
  width: 50%
  height: 100%
  cursor: pointer
  &:first-child
    left: 0

.gallery-photo
  width: 100%
  height: 100%

.gallery-buttons
  display: flex
  justify-content: center
  margin-top: 2px

.gallery-button
  width: 100%
  border: none
  padding: 15px 32px
  text-align: center
  font-size: 16px
  cursor: pointer
  opacity: 1
  &:active
    box-shadow: 0 0 15px 2px
    margin: 1px 1px 1px 0
  &:hover
    opacity: 0.5
  
.content
  margin-left: 10%
  width: 50vw
  height: 100%

.content-tabs
  display: flex
  width: 100%
  padding: 10px 0px;

.content-tab-button
  width: 100%
  border: none
  padding: 15px 32px
  text-align: center
  cursor: pointer
  opacity: 1
  box-shadow: black 1px 1px 2px 2px
  border-radius: 5px
  &:active
    box-shadow: 0 0 15px 2px
    margin: 1px 1px 1px 0
  &:hover
    opacity: 0.5

.content-section
  height: 748px
  width: 100%
  overflow-y: auto
  border-radius: 5px

::-webkit-scrollbar 
  height: 12px
  width: 12px
  background: #000

::-webkit-scrollbar-thumb 
  background: #ffffff
  -webkit-border-radius: 1ex
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75)

@media screen and (min-width: 650px) and (max-width: 900px)
  .content
    margin-left: 4%
    width: 50vw
  .content-section
    height: 800px
  .content-tab-button
    padding: 10px 12px
  .gallery-photo-container
    max-width: 400px

@media screen and (min-width: 430px) and (max-width: 650px)
  .content
    margin-left: 2%
    width: 100%
  .content-section
    height: 330px
    font-size: 10px
  .content-tab-button
    padding: 7px 10px
  .content-tabs
    font-size: 10px
  .gallery-button
    padding: 10px 20px

@media screen and (max-width: 430px)
    .content
      margin-left: 1%
      width: 100%
    .content-section
      height: 300px
      font-size: 8px
    .content-tab-button
      padding: 2px 4px
    .content-tabs
      font-size: 6px
    .gallery-button
      padding: 8px 10px
    .gallery-photo-container
      max-width: 180px
    .main-page
      flex-direction: column
    .content
      margin-left: 0
      margin-top: 20px
    .gallery-photo-container
      max-width: unset
    .content-tab-button
      height: 40px