.main-page
  display: flex
  flex-direction: row
  min-height: calc(100vh - 60px)
  padding: 30px
  align-items: flex-start
  justify-content: center

.gallery-photo
  width: 500px
  opacity: 1
  transition: opacity 1.5s
  &.loading
    opacity: 0
    transition: none

.gallery-buttons
  display: flex
  justify-content: center
  margin-top: 2px

.gallery-button
  width: 100%
  border: none
  padding: 15px 32px
  text-align: center
  font-size: 16px
  cursor: pointer

.content
  margin-left: 120px

.content-tab-button
  border: none
  padding: 15px 32px
  text-align: center
  font-size: 16px
  cursor: pointer
