.main-page
  display: flex
  flex-direction: row
  padding-top: 30px
  width: 100vw
  height: calc(100vh - 30px)
  align-items: flex-start
  justify-content: space-evenly
  background-color: #9F9FB3

.gallery-photo
  width: 500px
  height: 800px
  opacity: 1
  transition: opacity 1.5s
  &.loading
    opacity: 0
    transition: none

.gallery-buttons
  display: flex
  justify-content: center
  width: 500px

.gallery-button
  width: 100%
  border: none
  padding: 15px 32px
  text-align: center
  font-size: 16px
  cursor: pointer

.gallery-button:hover
  background-color: #77778b

.content
  height: 800px

.content-tab-button
  border: none
  padding: 15px 32px
  text-align: center
  font-size: 16px
  cursor: pointer
  &.active
      background-color: #77778b
